<div class="container-fluid"> <br><br>
    <br>
    <div class="text-center">
        <h2>All Admin</h2>
    </div>
    <br>
    <div class="text-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
            ADD New Admin <i class="fa-regular fa-plus"></i>
        </button>
    </div>

    <br>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-primary">
                <tr>
                    <th scope="col"> <b>Sr.No. </b> </th>
                    <th scope="col"> <b>Admin Id </b> </th>
                    <th scope="col"> <b>Name</b> </th>
                    <th scope="col"> <b>UserName </b> </th>
                    <th scope="col"> <b>Password</b> </th>
                    <th scope="col"> <b>Email </b> </th>
                    <th scope="col"> <b>Edit Admin</b> </th>
                    <th scope="col"> <b>Delete Admin</b> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of Alladmin , let i =index">
                    <td>{{i+1}}</td>
                    <td>{{u.id}}</td>
                    <td>{{u.Name}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.password}}</td>
                    <td>{{u.email}}</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-info" (click)="EditAdmin(u.id)" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <!-- <button type="button" class="btn btn-info" (click)="EditAdmin(u.id)" data-bs-toggle="modal"
                            data-bs-target="#exampleModal2">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button> -->
                    </td>
                    <td><button class="btn btn-danger" type="button" (click)="DeleteAdmin(u['id'])"
                            class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button></td>
                </tr>
                <div class="text-center">
                    <!-- <pagination-controls (pageChange)=" pro = $event "></pagination-controls> -->
                </div>
            </tbody>
        </table>
    </div>


    <!-- Modal For ADD Admin -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">ADD New Employee </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="Addadminform" (submit)="Addadmin()">

                        <div class="col-md-12">
                            <label for="Name">Name:</label>
                            <input type="text" name="Name" class="form-control" id="Name" formControlName="Name"
                                value="" placeholder="Enter Name" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="username"> UserName:</label>
                            <input type="text" name="username" class="form-control" id="username"
                                formControlName="username" value="" placeholder="Enter UserName" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="email"> Email:</label>
                            <input type="text" name="email" class="form-control" id="email" formControlName="email"
                                value="" placeholder="Enter Emp Email " required>
                        </div>
                        <br>

                        <br>
                        <button type="submit" class="btn btn-success">ADD Admin</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Modal For Update Admin -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="EditAdminform" (submit)="UpdateAdmin()">
                        <div class="col-md-12">
                            <label for="Name">Name:</label>
                            <input type="text" name="Name" class="form-control" id="Name" formControlName="Name"
                                value="" placeholder="Enter Name" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="username"> UserName:</label>
                            <input type="text" name="username" class="form-control" id="username"
                                formControlName="username" value="" placeholder="Enter UserName" required>
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label for="email"> Email:</label>
                            <input type="text" name="email" class="form-control" id="email" formControlName="email"
                                value="" placeholder="Enter Emp Email " required>
                        </div>
                        <br>

                        <br>
                        <div class="col-md-12">
                            <label for="password">Password:</label>
                            <input type="text" name="password" class="form-control" id="password"
                                formControlName="password" value="" placeholder="Enter Admin Password " required>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-success">Update Admin</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>