<aside class="main-sidebar sidebar-dark-primary elevation-4 ">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/dist/img/AdminLTELogo.png" class="img elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a [routerLink]="['/Home/Dashboard']" class="d-block">Dailysheet</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <!-- <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div> -->

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Admin']">
                        <i class="fa-solid fa-hospital-user fa-xl"></i>
                        <p>
                            Admin
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Userlevel']">
                        <i class="fa-solid fa-sitemap fa-xl"></i>
                        <p>
                            Userlevel
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Team']">
                        <i class="fa-solid fa-user-group fa-xl"></i>
                        <p>
                            Team
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Spoke']">
                        <i class="fa-solid fa-volume-high fa-xl"></i>
                        <p>
                            Spoke Person
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Employee']">
                        <i class="fa-solid fa-users fa-xl"></i>
                        <p>
                            Employee
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/TeamwithRole']">
                        <i class="fa-solid fa-user fa-xl"></i>
                        <p>
                            Employeewith Role
                        </p>
                    </a>
                </li>


                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Checklist']">
                        <i class="fa-solid fa-calendar-check fa-xl"></i>
                        <p>
                            CheckList
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link " [routerLink]="['/Home/Jobs']">
                        <!-- <i class="nav-icon far fa-circle nav-icon"></i> -->
                        <i class="fa-solid fa-compass-drafting fa-xl"></i>
                        <p>
                            Jobs
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Timesheet']">
                        <i class="fa-solid fa-clipboard-list fa-xl"></i>
                        <p>
                            Timesheet
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Timegap']">
                        <i class="fa-solid fa-hourglass-half fa-xl"></i>
                        <p>
                            Timegap
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/QcTime']">
                        <i class="fa-solid fa-clock-rotate-left fa-xl"></i>
                        <p>
                            QC Time
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/EnggTime']">
                        <i class="fa-solid fa-business-time fa-xl"></i>
                        <p>
                            Engg Time
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Jobtype']">
                        <i class="fa-solid fa-bars fa-xl"></i>
                        <p>
                            Job Type
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/Spokepersonwithemployee']">
                        <i class="fa-solid fa-handshake fa-xl"></i>
                        <p>
                            Spokeperson withEmployee
                        </p>
                    </a>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" [routerLink]="['/Home/SpokepersonJobs']">
                        <i class="fa-solid fa-handshake fa-xl"></i>
                        <p>
                            Jobs with Spokeperson
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a href="#" class="nav-link" (click)="logout()">
                        <i class="fa-solid fa-power-off fa-xl"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>