<br>
<div class="container-fluid"> <br><br>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Admin']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Admin</h5>
                            <p> All Admin Data </p>
                        </div>
                    </div>
                </div> <br> <br>
            </div><br>
            <br>

            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Userlevel']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Userlevel</h5>
                            <p> All Userlevel Data </p>
                        </div>
                    </div>
                </div> <br> <br>
            </div><br>
            <br>

            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Employee']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Employee</h5>
                            <p> All Employee Data </p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Jobs']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Jobs</h5>
                            <p>All Jobs Data </p>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Checklist']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Checklist</h5>
                            <p>All Checklist and Job Checklist data</p>
                        </div>
                    </div>
                </div><br><br>
            </div><br>

            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Spoke']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Spoke Person's</h5>
                            <p>All Spoke Person & Spoke Person with Employee </p>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Jobtype']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Job Types</h5>
                            <p>All Jobs Types Data and SubType Data. </p>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/EnggTime']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Engineer Time</h5>
                            <p>All Engineer Time Calculation. </p>
                        </div>
                    </div>
                </div><br><br>
            </div><br>

            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/QcTime']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>QC Time</h5>
                            <p>All QC Time Calculation. </p>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="col-md-3">
                <div class="card" [routerLink]="['/Home/Timesheet']">
                    <div class="card-body">
                        <div class="text-center">
                            <h5>Time Sheet</h5>
                            <p>All Timesheet Data. </p>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
    </div>
    <br><br>
</div>